*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem; 
    line-height: 1.5;
    text-align: center;
    background-color: #333;
    color: #fff;
}
a{
    text-decoration: none;
}
p{
    padding: 1.6rem;
}
header{
    height: 45rem;
}
.bg-image{
    background-image: url(img/bg.jpeg);
    height: 45rem;
    width: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.4;
    position: absolute;
    z-index: -1;
}
header h1{
    padding: 11rem;
    padding-bottom: 0;
}
.btn{
    background: #333;
    color: #fff;
    border: 1px solid #666;
    padding: 1.6rem 3.2rem;
    margin: 5rem 0;
    display: inline-block;
    transition: all 0.2s;

}
.btn:hover{
    background-color: #eaeaea;
    color: #333;
}